In [1]:
from sklearn.preprocessing import OneHotEncoder

In [2]:
import pandas as pd

In [3]:
path = 'archive/youtube.csv'

In [4]:
enc = OneHotEncoder(handle_unknown='ignore')

In [5]:
df = pd.read_csv(path)

In [6]:
df.head()

,link,title,description,category
0,JLZlCZ0,Ep 1| Travelling through North East India | Of...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nT...,travel
1,i9E_Blai8vk,Welcome to Bali | Travel Vlog | Priscilla Lee,Priscilla Lee\n45.6K subscribers\nSUBSCRIBE\n*...,travel
2,r284c-q8oY,My Solo Trip to ALASKA | Cruising From Vancouv...,Allison Anderson\n588K subscribers\nSUBSCRIBE\...,travel
3,Qmi-Xwq-ME,Traveling to the Happiest Country in the World!!,Yes Theory\n6.65M subscribers\nSUBSCRIBE\n*BLA...,travel
4,_lcOX55Ef70,Solo in Paro Bhutan | Tiger's Nest visit | Bhu...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nH...,travel

In [7]:
enc.fit(df[['category']])

OneHotEncoder(handle_unknown='ignore')

In [8]:
enc.categories_[0]

array(['art_music', 'food', 'history', 'travel'], dtype=object)

In [9]:
enc.transform(df[['category']]).toarray()

array([[0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.]])

In [10]:
df.drop('category', axis=1)

,link,title,description
0,JLZlCZ0,Ep 1| Travelling through North East India | Of...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nT...
1,i9E_Blai8vk,Welcome to Bali | Travel Vlog | Priscilla Lee,Priscilla Lee\n45.6K subscribers\nSUBSCRIBE\n*...
2,r284c-q8oY,My Solo Trip to ALASKA | Cruising From Vancouv...,Allison Anderson\n588K subscribers\nSUBSCRIBE\...
3,Qmi-Xwq-ME,Traveling to the Happiest Country in the World!!,Yes Theory\n6.65M subscribers\nSUBSCRIBE\n*BLA...
4,_lcOX55Ef70,Solo in Paro Bhutan | Tiger's Nest visit | Bhu...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nH...
...,...,...,...
3594,#NAME?,21st Century Challenges: Crash Course European...,CrashCourse\n12.4M subscribers\nSUBSCRIBE\nThe...
3595,d-2Trw8bCa0,EU DataViz webinar - Barnaby Skinner - How to ...,Publications Office of the European Union\n3.2...
3596,RCKWarkUL,Stone Age Scandinavia: First People In the Nor...,History Time\n619K subscribers\nSUBSCRIBE\n- W...
3597,MF6F3BxJIY,AP European History - Interwar Period: Paris P...,Mr. Raymond's Civics and Social Studies Academ...
3598,lByKodp_UK,World War 2 Allied Conferences: AP European Hi...,Paul Sargent\n25.3K subscribers\nSUBSCRIBE\nIn...

In [11]:
d = enc.transform(df[['category']]).toarray()

In [12]:
d

array([[0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.]])

In [13]:
category_df = pd.DataFrame(data = d, columns = enc.categories_[0])

In [14]:
category_df

      art_music  food  history  travel
0           0.0   0.0      0.0     1.0
1           0.0   0.0      0.0     1.0
2           0.0   0.0      0.0     1.0
3           0.0   0.0      0.0     1.0
4           0.0   0.0      0.0     1.0
...         ...   ...      ...     ...
3594        0.0   0.0      1.0     0.0
3595        0.0   0.0      1.0     0.0
3596        0.0   0.0      1.0     0.0
3597        0.0   0.0      1.0     0.0
3598        0.0   0.0      1.0     0.0

[3599 rows x 4 columns]

In [15]:
final_df = pd.concat([df.drop('category', axis=1), category_df], axis=1)

In [16]:
final_df.head()

,link,title,description,art_music,food,history,travel
0,JLZlCZ0,Ep 1| Travelling through North East India | Of...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nT...,0.0,0.0,0.0,1.0
1,i9E_Blai8vk,Welcome to Bali | Travel Vlog | Priscilla Lee,Priscilla Lee\n45.6K subscribers\nSUBSCRIBE\n*...,0.0,0.0,0.0,1.0
2,r284c-q8oY,My Solo Trip to ALASKA | Cruising From Vancouv...,Allison Anderson\n588K subscribers\nSUBSCRIBE\...,0.0,0.0,0.0,1.0
3,Qmi-Xwq-ME,Traveling to the Happiest Country in the World!!,Yes Theory\n6.65M subscribers\nSUBSCRIBE\n*BLA...,0.0,0.0,0.0,1.0
4,_lcOX55Ef70,Solo in Paro Bhutan | Tiger's Nest visit | Bhu...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nH...,0.0,0.0,0.0,1.0